<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wei.permissionsetting">

    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>

    <application
        android:name=".PermissionApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".permission.activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".permission.PermissionAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessible_service_config"/>
        </service>
        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name=".service.OtherProcessService"
            android:enabled="true"
            android:exported="true"
            android:process=":OtherProcessService">
        </service>

        <!-- <service android:enabled="true" android:name="com.eguan.monitor.fangzhou.service.MonitorService" android:process=":monitorService"/> -->
        <!-- <service android:name="com.eguan.monitor.fangzhou.service.MonitorJobService" android:permission="android.permission.BIND_JOB_SERVICE" -->
        <!-- android:process=":monitorService"/> -->


        <!-- <receiver -->
        <!-- android:name=".receiver.PresentationServiceReceiver" -->
        <!-- android:exported="true" -->
        <!-- android:enabled="true" -->
        <!-- android:process=":ctremote"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.PHONE_STATE"/> -->
        <!-- <action android:name="android.intent.action.NEW_OUTGOING_CALL" /> -->
        <!-- </intent-filter> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED"/> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/> -->
        <!-- <action android:name="android.intent.action.BATTERY_LOW"/> -->
        <!-- <action android:name="android.intent.action.BATTERY_OKAY"/> -->
        <!-- <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/> -->
        <!-- <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/> -->
        <!-- <action android:name="android.intent.action.MEDIA_CHECKING"/> -->
        <!-- <action android:name="android.intent.action.MEDIA_EJECT"/> -->
        <!-- <action android:name="android.intent.action.MEDIA_MOUNTED"/> -->
        <!-- <action android:name="android.intent.action.MEDIA_REMOVED"/> -->
        <!-- <action android:name="android.intent.action.MEDIA_SCANNER_FINISHED"/> -->
        <!-- <action android:name="android.intent.action.MEDIA_SCANNER_SCAN_FILE"/> -->
        <!-- <action android:name="android.intent.action.MEDIA_SCANNER_STARTED"/> -->
        <!-- <action android:name="android.intent.action.MEDIA_SHARED"/> -->
        <!-- <action android:name="android.intent.action.MEDIA_UNMOUNTABLE"/> -->
        <!-- <action android:name="android.intent.action.MEDIA_UNMOUNTED"/> -->
        <!-- </intent-filter> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.PACKAGE_ADDED"/> -->
        <!-- <action android:name="android.intent.action.PACKAGE_CHANGED"/> -->
        <!-- <action android:name="android.intent.action.PACKAGE_REMOVED"/> -->
        <!-- <action android:name="android.intent.action.PACKAGE_REPLACED"/> -->


        <!-- <data android:scheme="package"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <receiver -->
        <!-- android:name=".receiver.SystemStartReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter android:priority="9999"> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED"/> -->
        <!-- <action android:name="android.intent.action.USER_PRESENT"/> -->
        <!-- <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/> -->
        <!-- <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/> -->
        <!-- </intent-filter> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED"/> -->


        <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity android:name=".permission.activity.SecondActivity">
        </activity>
    </application>

</manifest>